body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: brown;
    color: #fff;
    padding: 10px 70px;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 60px;
}
header li {
    list-style: none;
}
#Sobre {
    text-align: center;
    padding: 80px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}
.TextEsq {
    text-align: left;
    padding: 80px 120px;
    align-items: right;
    justify-content: space-between;
    background-color: bisque;
}
.imagem img{
    align-items: left;
    width: 30vw;
    height: 100vh;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

